sudo: required
services:
  - docker

before_install:
  - docker build -t daniyarjakupov/docker-reactjs -f Dockerfile.dev .

script:
  - docker run daniyarjakupov/docker-reactjs npm run test -- --coverage

# deploy:
#   provider: elasticbeanstalk
#   region: 'eu-1'
#   app: 'docker-react'
#   env: 'Docker-react-env'
#   bucket_name: ''
#   bucket_path: 'docker-react'
#   on:
#     branch: master
#   access_key_id: $AWS_ACCESS_KEY
#   secret_access_key:
#     secure: '$AWS_SECRET_KEY'
